extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Add your name.
        h1 Toluwalase Akintoye

        //- Feel free personalize the title below
        h6.lead.text-light
          | Software Engineer.

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p.lead
            | I'm moxie about Frontend development (client-side development) and I am a Full Stack Developer
            | in JavaScript and PHP.
          p.lead
            |I am a developer that is always open and eager to learning, a problem solver with high
            | attention to detail in code reviews, design, database design and implementation etc.
          p.lead
            | I'm very much fascinated in web development's range and how it can be adapted to solve into issues
            |  around the immediate environment.

      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- Replace the text in the li tags below with your own skills.  At this point, you should be able to list at least ten skills.
        ul
          li HTML
          li Pug
          li CSS
          li SASS
          li LESS
          li Bootstrap
          li JavaScript
          li jQuery
          li PHP
          li Yii2
          li React
          li SQL
          li Express
          li Node

        h6 Contact Info

        //- Add your own contact info
        ul
          li +2348114311979
          li toluwalaseakintoye@ymail.com

        //- Add URLs to the hrefs below to link to your social media accounts.
        a.button.expanded(href='https://www.linkedin.com/in/toluwalase-akintoye/') LinkedIn
        a.button.expanded(href='https://github.com/ToluAkin') GitHub
        a.button.expanded(href='https://twitter.com/toluwalase_akin') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  