extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9
        h1 Toluwalase Akintoye
        h6.lead.text-light
          | Software Engineer.

        .portfolio-bio
          p.lead
            | I'm moxie about Frontend development (client-side development) which I use with Yii2 effortlessly and
            | I am a Full Stack Developer in JavaScript.
          p.lead
            | I am a developer that is always open and eager to learn, a problem solver with high
            | attention to detail in code reviews, design, database design, implementation etc.
          p.lead
            | I enjoy bants but sometimes I don't get sarcasm.  I'm very much fascinated in web development's range and
            | how it can be adapted to solve issues in the immediate environment.

      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li HTML
          li Pug
          li CSS
          li SASS
          li LESS
          li Bootstrap
          li JavaScript
          li jQuery
          li PHP
          li Yii2
          li React
          li SQL
          li Express
          li Node

        h6 Contact Info
        ul
          li +2348114311979
          li toluwalaseakintoye@ymail.com

        a.button.expanded(href='https://www.linkedin.com/in/toluwalase-akintoye/') LinkedIn
        a.button.expanded(href='https://github.com/ToluAkin') GitHub
        a.button.expanded(href='https://twitter.com/toluwalase_akin') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  